---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
const pages = [...Array(21).keys()].map((i) => ({
  id: i + 1,
  cover: null,
  slug: (i + 1).toString(),
  name: (i + 1).toString(),
}));
pages[17] = {
  ...pages[17],
  cover: "logos:astro",
  slug: "astrabout",
  name: "Astrabout",
};
---

<Layout title="Quattonary">
  <div class="wrapper">
    <section>
      {
        pages.map((page) => (
          <article
            style={{
              backgroundColor: `hsl(250, 5%,  ${page.id}%)`,
            }}
          >
            {page.cover && <Icon name={page.cover} />}
            <a
              href={typeof page.slug === "number" ? `#` : `/${page.slug}`}
              class="inner"
            >
              {page.name}
            </a>
          </article>
        ))
      }
    </section>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    @apply w-full h-full flex items-center justify-center overflow-hidden;
  }

  section {
    @apply grid place-items-stretch aspect-square;
    width: 80vmin;
    grid-template-rows: repeat(112, 1fr);
    grid-template-columns: repeat(112, 1fr);

    &:hover article {
      border-radius: 50% 50%;
      scale: 0.9;
      opacity: 0.5;
    }

    article:hover {
      border-radius: 0 0;
      scale: 1;
      opacity: 1;
      [astro-icon] {
        transition: transform 300ms ease-out;
        transform: translateX(0);
      }
    }
  }

  article {
    @apply flex items-center justify-center 
    relative shadow-xl font-semibold overflow-clip;
    transition: all 300ms ease;

    & > * {
      inset: 0;
      transition: all 0.5s ease-in-out;
    }

    [astro-icon] {
      opacity: 0.5;
      width: 50%;
      transform: translateX(-100%);
    }
  }

  article a {
    @apply absolute flex items-center justify-center select-none;
    color: var(--color-text);
  }

  // DON'T EVER EDIT THIS
  $widths: 50, 35, 27, 8, 19, 15, 17, 11, 6, 24, 29, 25, 9, 2, 7, 18, 16, 42, 4,
    37, 33;

  @for $i from 1 through 21 {
    section > article:nth-child(#{$i}) {
      $width: nth($widths, $i);
      font-size: calc($width / 10) + vmin;
      grid-column: span $width / span $width;
      grid-row: span $width / span $width;
    }
  }
</style>
